{% extends '@RubiusAdmin/Security/layout-login.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

</form>
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><img src="{{ asset('assets/rubius/img/logo_small_full.png') }}"/></a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" name="_username" placeholder="e-mail" value="{{ last_username }}" />
                    <span class="fa fa-user-secret form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="password" placeholder="password" class="form-control" name="_password" />
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div><!-- /.col -->
                </div>
            </form>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{% endblock %}