{% if row['isActive'] is defined %}
{% if row['isActive'] == true %}
<label class="label label-success">{{ 'rubiusAdmin.users.partials.active' | trans({},'rubiusAdmin') }}</label>
{% else %}
    <label class="label label-danger">{{ 'rubiusAdmin.users.partials.inactive' | trans({},'rubiusAdmin') }}</label>
{% endif %}
{% endif %}