<a class="btn btn-xs btn-warning" href="{{ path('rubius_content_edit', {'id':row['id']}) }}">
    <i class="fa fa-pencil"></i>
    {{ 'rubiusAdmin.general.Edit' | trans({}, 'rubiusAdmin') }}
</a>

<a class="btn btn-xs btn-danger" href="{{ path('rubius_content_delete', {'id':row['id']}) }}">
    <i class="fa fa-ban"></i>
    {{ 'rubiusAdmin.general.delete' | trans({}, 'rubiusAdmin') }}
</a>