{% trans_default_domain 'layout' %}
<aside class="main-sidebar">
    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ (app.user.avatar is defined)? asset(app.user.avatar) : 'http://www.gravatar.com/avatar/?d=identicon' }}"
                     class="user-image" alt="{{ app.user.username }}">
            </div>
            <div class="pull-left info">
                <p>{{ (app.user.name is defined) ? app.user.name : app.user.username }}</p>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">{{ 'rubiusAdmin.mainMenu.title' | trans }}</li>
            <li><a href="{{ path('rubius_index') }}"><i class="fa fa-home"></i> <span>{{ 'rubiusAdmin.mainMenu.home' |trans }}</span></a></li>
            {% if menuIncludes is defined and not empty %}
                {% for menu in menuIncludes %}
                    {% include menu %}
                {% endfor %}
            {% endif %}
            <li class="treeview" id="rubius-left-cms">
                <a href="#">
                    <i class="fa fa-file-text"></i>
                    <span>{{ 'rubiusAdmin.mainMenu.cms.title' |trans }}</span>
                </a>
                <ul class="treeview-menu">
                    <li id="rubius-left-cms-content">
                        <a href="{{ path('rubius_content_index') }}">
                            <i class="fa fa-file-text"></i> {{ 'rubiusAdmin.mainMenu.cms.content' | trans }}
                        </a>
                    </li>
                    <li id="rubius-left-cms-content-type">
                        <a href="{{ path('rubius_content_type_index') }}">
                            <i class="fa fa-file"></i> {{ 'rubiusAdmin.mainMenu.cms.ContentType' | trans }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>{{ 'rubiusAdmin.mainMenu.administration.title' |trans }}</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('rubius_users') }}"><i class="fa fa-users"></i> {{ 'rubiusAdmin.mainMenu.administration.users' | trans }}</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>