<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Top Navigation</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ asset('assets/rubius/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/rubius/css/skins/skin-blue.min.css') }}">
    {% block styles %}

    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {% include '@RubiusAdmin/Partials/main-header.html.twig' %}
    {% include '@RubiusAdmin/Partials/main-left-side-bar.html.twig' %}

    <div class="content-wrapper">
        {% block body %}
        <section class="content-header">
            <h1>
                {% block pageTitle %}
                {% endblock %}
            </h1>
            {% block breadcrumbs %}
            {% endblock %}
        </section>

        {% block contentWrapper %}
            <section class="content">
                {% block content %}
                {% endblock %}
            </section>
        {% endblock %}
    </div>
    {% endblock %}

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>V</b> 0.0.1
        </div>
        <strong>{{ 'rubiusAdmin.main.themeBy' |trans({}, 'layout') }} <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong>
    </footer>
    {% include '@RubiusAdmin/Partials/main-right-side-bar.html.twig' %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/rubius/js/app.min.js') }}"></script>
{% block javascripts %}

{% endblock %}
</body>
</html>
