{% trans_default_domain 'rubiusAdmin' %}
{% extends 'RubiusAdminBundle:layout:main.html.twig' %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Main Panel</li>
    </ol>
{% endblock %}

{% block pageTitle %}
    {{ 'rubiusAdmin.users.create.pageTitle' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.username) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.roles) }}
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-lg-6">
                            {{ form_row(form.password.children.password) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.password.children.confirm) }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}